<h1><%= @type.name %></h1>

<p><%= link_to "Return to Business Types", types_path %></p>
<p><%= link_to "Edit", edit_type_path(@type) %></p>
<p><%= link_to "Delete", type_path(@type),
                :data => {:confirm => "You sure?",
                          :method => "delete"} %></p>
